#backdrop {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.259);
}

#backdrop #modal {
    width: 80%;
    height: auto;
    background-color:#111318;
    margin: auto;
    border-radius: 20px;
    color: white;
    padding: 30px;
}

#close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(128, 128, 128, 0.255);
    box-shadow: 1px 1px 1px 1px rgba(216, 208, 208, 0.219);
    border-radius: 5px;
    background-color: white;
}

input {
    outline:none;
    height: 30px;
    line-height: 30px;
    width: 300px;
    padding: 0 10px;
    margin-left: 20px;
    margin: 5px;
}
label {
    line-height: 30px;
    width: 100px;
    margin: 10px;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}
.form-control.ng-pristine.ng-invalid.ng-touched{
    border: 2px solid red;
}
.form-group{
    display: flex;

}
.title{
 margin-right: 35px;
    

}
#upDate{
    cursor:pointer;
    margin-left: 5px;
    margin-top: 30px;
    width: 200px;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.255);
    box-shadow: 1px 1px 1px 1px rgba(216, 208, 208, 0.219);
    border-radius: 5px;

}
#images{
    display: flex;
}